@page
@model MovieDb.Pages.Movies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.BoxOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.BoxOffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Poster)
        </dt>
        <dd>
            @if (Model.Movie.Poster != null)
            {
                var base64 = Convert.ToBase64String(Model.Movie.Poster);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                < img src = "@imgsrc" />
            }
    </dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="Movie.ID" />
    <input type="submit" value="Delete" class="btn btn-default" /> |
    <a asp-page="./Index">Back to List</a>
</form>
</div>
