@page
@model MovieDb.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.BoxOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.BoxOffice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Rating)
        </dt>
        <dd>
            @if (Model.Movie.Rating == -1)
            {
                <text>No Rating Yet</text>
            }
            else
            {
                @Html.DisplayFor(model => model.Movie.Rating);
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Poster)
        </dt>
        <dd>
            @if (Model.Movie.Poster != null)
            {
                var base64 = Convert.ToBase64String(Model.Movie.Poster);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgsrc" />
            }
        </dd>
    </dl>
</div>
<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, Model.Movie, MovieOperations.Update)).Succeeded)
    {
        <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Movie.ID">Edit</a>
    }
    <a class="btn btn-default" asp-page="./Index">Back to List</a>
</div>
<br />

<div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10">
            <h4>Comments</h4>
        </div>
        @if (!Model.HasCurrentUserComment())
        {
            <div class="col-xs-6 col-sm-2 col-md-2">
                <a class="btn btn-primary" asp-page="../Comments/Create" asp-route-id="@Model.Movie.ID">Create a Comment</a>
            </div>
        }
        else
        {
            <div class="col-xs-6 col-sm-2 col-md-2">
                <a class="btn btn-primary" asp-page="../Comments/Edit" asp-route-id="@Model.CurrentUserComment.ID">Edit your Comment</a>
            </div>
        }
    </div>
</div>
<hr />
<div>
    @foreach (var item in Model.Comment)
    {
        <blockquote>
            <p>@Html.DisplayFor(modelItem => item.Content)</p>
            <footer>
                @Html.DisplayFor(modelItem => item.User.UserName)
                <text>&nbsp;</text>
                @{
                    for (int i = 0; i < item.Rating; i++)
                    {
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    }
                    for (int i = item.Rating; i < 10; i++)
                    {
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    }
                }
                <text>&nbsp;</text>
                <cite title="Date">@Html.DisplayFor(modelItem => item.Date)</cite>
            </footer>
        </blockquote>
    }
</div>
@{
    var prevDisabled = !Model.Comment.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Comment.HasNextPage ? "disabled" : "";
}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous @prevDisabled">
            <a asp-page="./Details"
               asp-route-id="@Model.Movie.ID"
               asp-route-pageIndex="@(Model.Comment.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                <span aria-hidden="true">&larr;</span>
                Previous
            </a>
        </li>
        <li class="next @nextDisabled">
            <a asp-page="./Details"
               asp-route-id="@Model.Movie.ID"
               asp-route-pageIndex="@(Model.Comment.PageIndex + 1)"
               class="btn btn-default  @nextDisabled">
                Next
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>