@page
@model MovieDb.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Movie Index";
}

<h2>Movie Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions">
        <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <select class="selectpicker form-control" asp-for="CurrentMovieGenre" asp-items="Model.Genres">
                    <option value="">All</option>
                    <option data-divider="true"></option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="input-group">
                    <input class="form-control" placeholder="Search for..." type="text" name="SearchString" value="@Model.CurrentFilter" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Filter</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                <a class="btn btn-default" asp-page="./Index">Back to full List</a>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Poster)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-currentMovieGenre="@Model.CurrentMovieGenre">
                    @Html.DisplayNameFor(model => model.Movie[0].Title)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-currentMovieGenre="@Model.CurrentMovieGenre">
                    @Html.DisplayNameFor(model => model.Movie[0].ReleaseDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BoxOfficeSort"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-currentMovieGenre="@Model.CurrentMovieGenre">
                    @Html.DisplayNameFor(model => model.Movie[0].BoxOffice)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Genre)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RatingSort"
                   asp-route-currentFilter="@Model.CurrentFilter"
                   asp-route-currentMovieGenre="@Model.CurrentMovieGenre">
                    @Html.DisplayNameFor(model => model.Movie[0].Rating)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    @if (item.Poster != null)
                    {
                        var base64 = Convert.ToBase64String(item.Poster);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgsrc" height="50" />
                    }
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxOffice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, item, MoiveOperations.Update)).Succeeded)
                    {
                        <a asp-page="./Edit" class="btn btn-warning btn-sm" asp-route-id="@item.ID">Edit</a>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, item, MoiveOperations.Delete)).Succeeded)
                    {
                        <a asp-page="./Delete" class="btn btn-danger btn-sm" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Movie.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Movie.HasNextPage ? "disabled" : "";
}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Movie.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-currentMovieGenre="@Model.CurrentMovieGenre"
               class="btn btn-default @prevDisabled">
                <span aria-hidden="true">&larr;</span>
                Previous
            </a>
        </li>
        <li class="next">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Movie.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-currentMovieGenre="@Model.CurrentMovieGenre"
               class="btn btn-default @nextDisabled">
                Next
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

